.benefitHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 24px;
    font-family: var(--numans);
    color: var(--blue-gray);
    font-weight: 600;
    font-size: 2.4rem;
}

.benefitCard {
    height: 100%;
    padding: 8px;
    border: 1px solid var(--blue-gray);
    color: var(--blue-gray);
    transition:
    background-color 0.25s ease-in-out,
    font-weight 0.1s ease,
    padding 0.2s linear;
    font-family: var(--numans);
    margin-bottom: 8px;
}


/* Apply different background on hover for every other row */
:global(.row:nth-child(even) .card:hover) {
    background-color: var(--excellence-light-blue);
    font-weight: 600;
    padding: 16px;
}

/* Optional: default hover for odd rows */
:global(.row:nth-child(odd) .card:hover) {
    background-color: var(--seafoam-transparent);
    font-weight: 600;
    padding: 16px;
}
  

/* <Card className="h-100 shadow-sm border-0"> */