.boardMember {
    background-color: var(--excellence-white);
}

.boardMemberHeader {
    background-color: var(--excellence-white);
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 12px 20px 12px 20px;
    color: var(--dark-gray);
    font-size: 1.8rem;
    font-family: 'Source Code Pro`', sans-serif;
    font-weight: 600;
}

.boardMemberConatiner {
    height: fit-content;
}

.boardMemberRow {
    align-items: center;
    justify-content: space-around;
}

.boardBio {
    font-family: "Numans", sans-serif;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

.boardMemberImgContainer {
    min-width: 250px;
    min-height: 250px;
    margin-right: 30px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

  