.board-member {
    background-color: var(--excellence-white);
}

.row {
    height: 350px;
}


.board-member-img-container {
    width: 200px;
    height: 200px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

  