.footerConnectHeader {
    color: var(--excellence-white);
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 0;
}

.connectColumn {
    padding-left: 20px;
    padding-right: 0;
    padding-top: 1px;
    width: 16.666667%;
}

.socialIcon img {
    vertical-align: center;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 29px;
    aspect-ratio: auto 29 / 29;
    width: 29px;
}

.socialIcon img:hover {
    border-radius: 70%;
    box-shadow: 1px 1px 12px 1px  rgba(154, 153, 153, 0.646);
    transition: all 0.2s ease-in;
}

.iconSpan {
    color: gray;
    padding-left: 10px;
    font-size: 1em;
}

.iconSpan a {
    color: gray;
}

.iconSpan a:hover {
    color: var(--excellence-white);
    cursor: pointer;
}

.iconList {
    list-style-type: none;
    padding-top: 0;
    padding-left: 0;
}

.iconList li {
    padding-bottom: 12px;
    font-size: 1em;
}

.imgContainer {
    width: 155px;
    height: 90px;
}

.imgContainer img {
    width: 90%;
    /* margin-top: -10px; */
    height: auto;
}

footer {
  margin-top: auto;
  padding-top: 24px;
  width: 100%;
  min-height: 19.5em;
  background-color: var(--excellence-black5);
  border-top: solid var(--excellence-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerOrgHeader {
    border-bottom: solid 1px var(--excellence-white);
    color: var(--excellence-white);
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    margin-top: -5px;
    padding: 0;
}

.innerOrg {
    float: left;
    padding: 0;
    width: 50%;
}

.footerList li {
    font-size: 15px;
    list-style: none;
    color: gray;
    line-height: 1.2;
    margin-left: 0;
    padding: 7px 4px 7px 0;
}

.footerList li a {
    color: inherit;
}

.footerList li:hover {
    color: var(--excellence-white);
    cursor: pointer;
}

.copyrightWrapper {
    margin-top: -30px;
    padding-left: 30px;
}

.copyrightFooter {
    color: gray;
}




/* ================== OLD STYLING ================== */
.footerIcon {
  display: flex;
  justify-content: space-between;
}

.footerIcon a{
  margin: 0 20px 0 20px;
  margin-top: 2px;
}

.linkedinIcon {
  transition: all 0.3s ease-in;
  width: 38px;
  filter: grayscale(75%);
  border-radius: 8px;
  /* background-color: white; */
}

.linkedinIcon:hover {
  transition: all 0.3s ease-in;
  background-color: var(--white);
  filter: grayscale(0%);
  /* background-color: white; */
}

.githubIcon {
  transition: all 0.3s ease-in;
  width: 38px;
  filter: grayscale(70%);
  border-radius: 8px;
  /* background-color: white; */
}

.githubIcon:hover {
  transition: all 0.3s ease-in;
  background-color: var(--white);
  filter: grayscale(0%);
  /* background-color: white; */
}

.gmailIcon {
  transition: all 0.3s ease-in;
  margin-top: 3px;
  width: 38px;
  filter: grayscale(80%);
  border-radius: 8px;
  /* background-color: white; */
}

.gmailIcon:hover {
  transition: all 0.3s ease-in;  
  filter: grayscale(0%) contrast(135%);
  /* background-color: white; */
}



/* Media query styling */
/* ===================================================================================================================================== */
/* @media screen and (max-width: 872px) {
  #download {
    justify-content: start;
  }

  header {
    display: flex;
    position: relative;
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  .left-section{
    display: flex;
    padding: 0;
    justify-content: center;
    width: 100%;
  }

  .middle-section{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
  }

  .right-section{
    display: none;
  }

  .current-user{
    display: none;
  }

  header h1 {
    width: 100%;
    font-size: 10vw;
  }

  header nav {        
    justify-content: center;
    margin: 8px 0 0 0;
  }

  nav a:last-child{
    margin-right: 0;
  }

  .main-section > h2,
  .main-section > div {
    flex: 0 0 100%;
  }

  .main-section {
    margin-top: 0;
    padding-left: 3px;
    padding-bottom: 5.5rem;
  }

  .top-banner {
    height: 50%;
  }

  .main-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--dark-gray);
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }

  .about-me-img {
    width: 25%;
  }

  footer{
    position: fixed;
  }
}

@media screen and (max-width: 750px) {
  header nav{
    font-size: 65%;
  }

  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .top-banner {
    justify-content: center;
    text-align: center;
  }

  .about-me-img {
    width: 25%;
  }

  footer{
    position: fixed;
  }
} */