.banner {
    position: relative;
    width: 100%;
    height: 50vh; /* Reduced height */
    overflow: hidden;
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bannerImageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay for contrast */
    z-index: 1;
}

.textContent {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 100;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    text-align: left;
    border-top: solid 3px var(--excellence-blue);
}

.counterWrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.counterWrapper h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.counterWrapper p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--excellence-blue);
}

.textContent p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.section {
    background-image: url("/public/images/dots.png");
    padding: 60px 20px;
    background-color: #f8f9fa;
}

.sectionAlt {
    padding: 60px 20px;
    background-color: #ffffff;
}