@import '../App.css';

/* ================= TEST CODE =================  */

.text-left {
    text-align: left;
}

.topnavbarContainer {
    display: flex;
    height: 24px;
    padding-right: 10px;
    background-color: var(--light-blue);
}

.topnavbar {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 8px;
    width: 100%;
}

.topnavbar a{
    margin-right: 20px;
    font-size: 1.1rem;
    color: var(--excellence-white);
    text-decoration: none;
}

.topnavbar a:hover{
    text-shadow:1px 1px 8px #fff, 1px 1px 8px #ccc;
}

#navContainer {
    display: block;
    z-index: 100;
    padding: 0;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 155px;
}

.imgContainer img {
    position: relative;
    top: 5px;
    width: 100%;
    height: auto;
}


/* ================= TEST CODE =================  */


.navBackground {
  display: block;
  background-color: var(--excellence-black5);
  /* background-color: var(--blue-gray); */
  border-bottom: solid 3px var(--excellence-blue);
  width: 100%;
  height: auto;
}

/* Style for the main navbar */
.navbar {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}



.navbar li {
    list-style: none;
    position: relative;
    /* padding: 0 20px; */
}

.navbar li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 600;
  color: var(--white);
  transition: 0.3s ease-in-out;
  padding: 5px 10px 0.5em;
}

.navbar li a:hover,
.navbar li a.active {
  color: var(--white);
  background: linear-gradient(100deg, var(--excellence-blue) 0%, var(--excellence-blue) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: bottom;
  margin-bottom: 5px;
}

.navbar li a:hover::after,
.navbar li a.active::after {
  content: "";
  position: absolute;
  background: var(--excellence-blue);
  background-size: 100%;
  height: 2px;
  bottom: -4px;
  left: 20px;
}

.menuBars {
  display: none;
}
  
/* Style for dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Initially hide the dropdown menu */
.dropdownMenu {
    display: none;
    position: absolute;
    left: 20%;
    top: 180%;
    background: white;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px 8px 8px 2px;
    list-style: none;
    z-index: 300;
    min-width: 200px;
    overflow: hidden;
}
  
/* Show the dropdown menu when hovering over "About" */
.dropdown:hover .dropdownMenu,
.dropdownMenu.show {
  display: block;
}
  
/* Style for submenu items */
.dropdownMenu li {
    padding: 8px 12px;
}
  
.dropdownMenu li a {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    display: block;
}
  
.dropdownMenu li a:hover,
.dropdownMenu li a.active {
    background: #f0f0f0;
    color: var(--excellence-blue);
}
  


@media screen and (max-width: 872px) {

  #navContainer {
    position: fixed;
    z-index: 100;
    padding: 0;
  }
  
  .navbar .navbar{
    display: none;
  }

  .menuBars {
    display: block;
    margin: 12px 12px 12px;
    font-size: 2rem;
    background: none;
    color: var(--excellence-blue);
  }

  .menuBars {
    margin: 0 12px 12px 12px;
    font-size: 2rem;
    background: none;
    color: var(--excellence-blue);
  }

  .mobile.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 88px;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: var(--light-gray);
    padding: 40px 0 0 10px;
    z-index: 150;
    transition: 0.3s ease-in-out;
  }

  .mobile li {
    margin-bottom: 18px;
  }

  .mobile li a {
    text-decoration: none;
    color: var(--black);
  }

  .mobile li a:hover,
  .mobile li a.active {
    color: var(--black);
  }

  .mobile li a::after
  .mobile li a.active::after {
    color: var(--black);
  }

}